#main{
    display: flex;
}
.nhap-thongtin{  
    width: 30%; 
    padding-right: 24px; 
    margin-left: 25px;
}

.text-header{ 
    margin: 12px 0 30px;
    color: #FF6600; 
    font-size: 25px;
    border-bottom: 2px solid #FF6600; 
    text-shadow: 5px 5px 5px rgba(212, 58, 66, 0.5); 
    padding-bottom: 10px; 
    display: inline-block;
}
.nhap-thongtin-sp input,
.nhap-thongtin-sp select { 
    width: 97%; 
    padding: 8px 10px; 
    margin: 10px 0 16px;  
    outline: none; 
    border: 1px solid #a9a9a9; 
    border-radius: 6px;
}

.nhap-thongtin-sp label { 
    color: #1b1b1b;
}

.buttons { 
    border-top: 1px solid #333; 
    width: 97%;  
    padding: 20px 0;  
    display: flex; 
    justify-content: space-between;
}

.buttons button { 
    padding: 12px 5%; 
    margin-left: 6px; 
    border: none; 
    outline: none; 
    border-radius: 4px; 
    opacity: 0.8; 
    cursor: pointer; 
    transition: 0.3s;
}
.buttons button:hover { 
    opacity: 1;
}

.themnv{ 
    width: 110px;
    height: 40px;
    font-size: 16px;
    background-color: #0B7043; 
    color: #fff;
}
.suanv{
    width: 110px;
    height: 40px;
    font-size: 16px;
    background-color: #FF6600; 
    color: #fff;
}
.capnhat{ 
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(16, 108, 214); 
    color: #fff;
}

.header-ds { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.header-ds button { 
    width: 90px; 
    height: 40px; 
    margin-right: 20px; 
    border: none; 
    border-radius: 6px; 
    outline: none; 
    background-color: #007579; 
    color: #fff;
}

.header-ds button i { 
    margin-right: 4px;
}
.search { 
    display: flex; 
    justify-content: 
    space-between; 
    width: 97%;
}
.search input { 
    margin-left: 20px;
    width: 800px; 
    border-radius: 15px;
    padding: 8px;
}
.search button { 
    width: 15%; 
    border: none; 
    margin-left: 10px;
    outline: none; 
    background-color: #FF6600; 
    color: #fff; 
    font-size: 1rem; 
    border-radius: 4px;
}
.search button i { 
    margin-right: 4px;
}

.table-ds-sp { 
    width: 97%;
    margin-top: 20px;
    margin-left: 20px;
}

.table-ds-sp tr td { 
    max-width: 150px;
}

table { 
    width: 100%; 
    text-align: center; 
    border-collapse: collapse; 
    margin: 16px 0;
}

table th { 
    border-top: 1px solid #555; 
    border-left: 1px solid #555; 
    border-bottom: 1px solid #555; 
    padding: 8px 0;
}

table th:last-child { 
    border-right: 1px solid #555;
}

table td { 
    padding: 4px; 
    border-left: 1px solid #555; 
    border-bottom: 1px solid #555;
}

table td:last-child { 
    border-right: 1px solid #555;
}

td i { 
    color: #005457; 
    padding: 0 6px; 
    cursor: pointer; 
    transition: 0.3s;
}

td i:hover { 
    color: #f05151;
}

.soluong { 
    width: 97%; 
    display: flex; 
    align-items: center; 
    margin-left: 20px;
    justify-content: space-between; 
    font-size: 1.1rem; 
    margin-top: 20px;
    height: 70px; 
    background-color: #FFEBAE; 
    color: black;
}

.tong-soluong{ 
    display: flex; 
    font-family: sans-serif; 
    margin-left: 20px;
}

.page { 
    margin-right: 14px;
}

.page button { 
    width: 25px; 
    height: 25px; 
    background-color: #FEA700; 
    border-radius: 4px; 
    color: #fff; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    transition: 0.2s;
}

.page i { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.page button:hover { 
    background-color: #FF6600;
}

#tbody_nhanvien tr td button {
    width: 100%;
    border: 0;
    background-color: #FFFFFF;
    height: 100%;
    
}
#tbody_nhanvien tr td button svg path:hover{
  fill: #e00d0d;
}