* {
    margin: 0;
    padding: 0;
}

table {
    margin-top: 15px;
    width: 100%;
}

body {
    width: 900px;
    margin: 0 auto;
}

tr {
    line-height: 27px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.dam {
    font-weight: bold;
}
.le {
    margin-bottom: 4px;
    font-size: 16px;
}
.kethop{
    display: flex;
    margin-bottom: 4px;
    font-size: 16px;
}
.kethop1{
    display: flex;
    font-weight: bold;
    margin-top: 30px;
    font-size: 16px;
}
.kethop2{
    display: flex;
    font-style: italic;
    margin-top: 10px;
}
.print{
    width: 105px;
    height: 30px;
    font-size: 15px;
    margin-left: 700px;
    color: #fff;
    padding-left: 6px;
    padding-top: 7px;
    background-color: orangered;
    display: flex;
    border-radius: 10px;
    border: none;
}
.container {
    text-align: center;
    margin: 25px 0;
    margin-top: -20px;
}
.shop img {
    display: block;
    margin-top: 10px;
    width: 100px; 
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;

}
.shop{
    width: 100%;
    height: 120px;
    margin-top: 15px;
    border-radius: 15px ;
    box-shadow: 0 0 30px rgba(86, 228, 129, 0.5);
}
.shop1{
    display: flex;
    
}
