
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: white;
    display: block;
    padding: 18px 20px;
    text-decoration:none ;
    font-size: 13.5px;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #0F9A6B;
    padding: 15px 0px;
    list-style: none;
    width: 130px;
    border: 1px solid #bbb4b4;
    display: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 10px;
    border-bottom: 1px solid #bbb4b4;
    left: 0;
}
#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #f7ecec;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 128px;
    top: -16px;
}

/* Thiết lập thanh gạch màu cam khi hover */
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background: #FF6600;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1)
}
#main-menu>li:hover>a::before{
    width: 100%;
}

